*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Source Code Pro', monospace;
}
body{
    border-radius: 1rem;
    margin: 2rem 0;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    min-width: 400px;
}
.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-color: #348AA7;
}
.headerContainer__title{
    font-size: 5rem;
    text-align: center;
}
.mainContainer{
    width: 100%;
}
.mainContainer__description{
    display: flex;
    width: 100%;
    background-color: #525174;
    padding: 2rem;
    justify-content: center;
}
.description__p{
    font-size: 2rem;
    background-color: white;
    text-align: center;
}
.mainContainer__form{
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50rem;
    background-color: #513B56;
}
.mainContainer__form label{
    color: white ;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.mainContainer__form input{
    margin-bottom: 4rem;
    height: 4rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
button{
    font-size: 3rem;
}